@media (max-width: 320px)
	.container
		width: 300px

	.header
		flex-direction: column
		&__logo
			margin-bottom: 25px
		&__official
			margin-bottom: 25px

	.promo
		&__wrapper
			align-items: center
		&__header
			text-align: center
		&__subheader
			text-align: center
		&__icons
			width: 115px
			flex-direction: column
			margin: 25px auto
		&__link
			align-items: center

	.button_main
		width: 180px
		font-size: 12px
		margin: 67px auto

	.benefits
		height: 100%
		h1
			font-size: 25px
			padding: 40px 0 50px 0
		&__item
			margin-bottom: 25px
			&__img
				margin-bottom: 5px
		&__items
			flex-direction: column
			justify-content: center
			align-items: center

	.title_left
		font-size: 26px
		text-align: center

	.consultation__descr
		text-align: center
		font-size: 18px

	.feed-form
		margin: 0 auto
		width: 260px

	.catalog__tabs
		flex-direction: column

	.catalog__tab
		transform: skewX(0deg)

	.title
		font-size: 25px

	.testimonials-item
		flex-direction: column
		justify-content: center
		align-items: center

	.testimonials-item__wrapper
		align-items: center
		padding-left: 0
		max-width: 300px

	.testimonials-item img
		max-width: 120px
		height: 120px

	.footer__map
		width: 300px

	.footer__info
		width: 300px

	.footer__social
		padding: 0
		width: 300px

	.footer__addr
		padding: 0 25px

@media (max-width: 575px)
	.container
		width: 550px

	.header
		flex-direction: column
		&__logo
			margin-bottom: 25px
		&__official
			margin-bottom: 25px

	.promo
		&__wrapper
			align-items: center
		&__header
			text-align: center
		&__subheader
			text-align: center

	.title_left
		font-size: 28px
		text-align: center

	.consultation__descr
		text-align: center

	.feed-form
		margin: 0 auto

	.catalog__content
		justify-content: center

	.catalog__tab
		width: 150px

	.catalog__tab div
		font-size: 15px

	.testimonials-item
		flex-direction: column
		justify-content: center
		align-items: center

	.testimonials-item__wrapper
		align-items: center

	.footer__map
		width: 550px

	.footer__info
		width: 500px

	.footer__addr
		padding: 0 25px

@media (max-width: 768px)
	.container
		width: 650px

	.promo
		&__header
			font-size: 38px
		&__subheader
			font-size: 28px

	.button_main
		width: 250px

	.benefits
		height: 100%
		h1
			font-size: 25px
			padding: 40px 0 50px 0
		&__items
			flex-direction: column
			justify-content: center
			align-items: center

@media (max-width: 992px)
	.container
		width: 750px

	.promo
		&__header
			font-size: 38px
		&__subheader
			font-size: 38px
			line-height: 42px

	.benefits
		h1
			font-size: 25px

	.catalog__content
		justify-content: space-between

	